*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;

}
li,ul{
    display: inline;
}
.products{
    text-align: center;
    /* display: inline; */
    margin-top: 30px;
}
.box1,.box2,.box3,.box4{
    border: 2px solid black;
    width: 220px;
    display: inline-block;

}
.box4:hover{
    background-color: black;
    color: white;
}
.box3:hover{
    background-color: black;
    color: white;
}
.box2:hover{
    background-color: black;
    color: white;
}
.box1:hover{
    background-color: black;
    color: white;
}
.contact{
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 15px;
    text-align: center;
}